{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>모두의팀플</title>

  <!-- Bootstrap core CSS -->
  <link href={% static "vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href={% static "css/modern-business.css" %} rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">

    <a class="navbar-brand" href="{% url 'mainProject' project_name=project_name%}">모두의팀플</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">




        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            파일
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
            <a class="dropdown-item"  href="{% url 'newFile' project_name=project_name%}">파일업로드</a>
            <a class="dropdown-item"  href="{% url 'allMainProject' project_name=project_name%}">전체파일보기</a>
            <a class="dropdown-item"  href="{% url 'branchAdminCertification' project_name=project_name%}">메인브랜치설정</a>
          </div>
        </li>





        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            메뉴
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
            <a class="dropdown-item"  href="{% url 'memo' project_name=project_name%}">메모</a>
            <a class="dropdown-item"  href="{% url 'schedule'  project_name=project_name%}">일정</a>
            <a class="dropdown-item"  href="{% url 'adminCertification' project_name=project_name%}">팀원관리</a>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>

{% block content %}
{% endblock %}

<!-- /.container -->

<!-- Footer -->
<br>
<br>
<br>
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Kimsunwoo, Chominjei, Leehojae, Junghyunju</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src={% static "vendor/jquery/jquery.min.js" %}></script>
    <script src={% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>


</body>

</html>
